
.catalog {
    min-height: 560px;
    position: relative;
    background: url(/img/catalog/Neboscreb.png) no-repeat center;
    margin-bottom: 40px;

    .catalog__container {
        @include flex(center, flex-start);
        
        .catalog__text {
            width: 48%;
            z-index: 1;
            margin-top: 180px;

            h4 {
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: $gold;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-top: 40px;
            }

            @media (max-width: 928px) {
                width: 100%;
                margin: 40px auto;
            }
        }

        .catalog__form {
            margin-left: 38px;
            width: 48%;
            z-index: 1;
            margin-top: 235px;

            input {
                width: 255px;
                height: 50px;
                background: $white;
                opacity: 0.2;
                border: none;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                font-family: $Ral;
                transition: .5s;

                &:hover {
                    opacity: 1;
                }

                @media (max-width: 1152px) {
                    width: 230px;
                }

                @media (max-width: 1047px) {
                    width: 200px;
                }

                @media (max-width: 547px) {
                    width: 100%;
                }
            }

            #telefon {
                margin-left: 15px;

                @media (max-width: 547px) {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }

            .btn {
                @include flex(center, flex-start);
                margin-top: 35px;

                p {
                    width: 255px;
                    font-family: $Ral;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px; 

                    @media (max-width: 1152px) {
                        width: 230px;
                    }

                    @media (max-width: 1047px) {
                        width: 200px;
                    }
                }

                button {
                    width: 255px;
                    height: 50px;
                    background: $gold;
                    margin-left: 20px;
                    border: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 27px;
                    font-family: $Ral;
                    color: $white;
                    cursor: pointer;
                    transition: .8s;
                    position: relative;
                    overflow: hidden;

                    &:hover{
                        font-size: 20px;
                        transform: scale(1.1);
                    }
                    
                    &:after {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 200px;
                        margin-left: 50px;
                        background: #fff;
                        background: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0.5) 0%,
                            rgba(255, 255, 255, 1) 50%,
                            rgba(255, 255, 255, 0.5) 100%
                        );
                        left: -40px;
                        top: -100px;
                        z-index: 1;
                        transform: rotate(45deg);
                        position: absolute;
                        animation: movingFlare 3s ease-in-out 0.05s infinite;
                    }
                       
                      @keyframes movingFlare {
                        0% {
                          left: -30px;
                          margin-left: 0px;
                        }
                        30% {
                          left: 110%;
                          margin-left: 80px;
                        }
                        100% {
                          left: 110%;
                          margin-left: 80px;
                        }
                    }

                    @media (max-width: 1152px) {
                        width: 230px;
                    } 

                    @media (max-width: 1047px) {
                        width: 200px;
                    }

                    @media (max-width: 547px) {
                        width: 100%;
                        margin-left: 0;
                        margin-top: 20px;
                    }
                }
                @media (max-width: 928px) {
                    justify-content: center;
                }

                @media (max-width: 547px) {
                    margin-top: 20px;
                }
                
            }
            @media (max-width: 1047px) {
                width: auto;
            }

            @media (max-width: 928px) {
                width: 100%;
                margin: 40px;
                text-align: center;
            }
            
        }

        @media (max-width: 568px) {
            .catalog__text {
                width: 100%;
            }

            .catalog__form {
                width: 100%;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
    }
}